* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

html, body {
  display: flex;
  font-family: "Nunito", sans-serif;
  background-color: rgb(243, 243, 240);
  color: black;
  font-size: 36px;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*body {*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #87DCC0;
  padding: 0 40px;
  font-family: "Proxima Nova";
}

#homeInfo {
  background-color: #DAF0EE;
  padding: 0 40px;
}